@keyframes heaven {
	0% { background-color: white } 
	20% { background-color: #656048 }
	40% { background-color: #39372D } 
	60% { background-color: #1D1D20 }
	80% { background-color: #625C45 } 
	100% { background-color: white }
}

@keyframes plants {
	0% { bottom: 3% } 
	20% { bottom: -4%	}
	40% { bottom: -10% } 
	60% { bottom: -20% }
	80% { bottom: -4% } 
	100% {	bottom: 3% }
}

@keyframes sun {
	0% { right: 3% } 
	40% { right: 65%; opacity: 0% } 
	60% { right: 100%; opacity: 0% } 78% { opacity: 0% } 
	80% { right: 10%; opacity: 20% }  
	100% { right: 3%; }
}

@keyframes moon {
	0% { left: 10%; opacity: 0% } 
	20% { left: 10%; opacity: 0% }
	40% { left: 10%; opacity: 0% } 
	60% { left: 10%; opacity: 100% } 
	80% { left: -2% } 85% { opacity: 20% } 
	100% { left: 10%; opacity: 0% }
}

@keyframes first-row-cloud {
	0% { left: 0% } 
	20% { left: -68% } 
	40% { left: -115% } 
	60% { left: -135%; opacity: 0 }	
	80% { opacity: 0% } 
	100% { left: 0% }
}

@keyframes second-row-cloud {
	0% { left: -170% } 
	20% { left: 95% }
	40% { left: 40% } 
	60% { left: 115%; opacity: 20% }
	80% { left: 170% } 
	100% { left: 170% }
}

@keyframes star {
	0% { opacity: 0% } 
	20% { opacity: 0% }
	40% { opacity: 0% } 
	60% { opacity: 100% }
	80% { opacity: 0% } 
	100% { opacity: 0% }
}

@keyframes ten {
	0% { opacity: 100% }
	10% { opacity: 0% }
	40% { opacity: 0% }
	60% { opacity: 0% }
	80% { opacity: 0% }
	100% { opacity: 100% }
}

@keyframes sixteen {
	0% { opacity: 0% }
	20% { opacity: 100% }
	30% { opacity: 0% }
	60% { opacity: 0% }
	80% { opacity: 0% }
	100% { opacity: 0% }
}

@keyframes nineteen {
	0% { opacity: 0% }
	20% { opacity: 0% }
	40% { opacity: 100% }
	50% { opacity: 0% }
	80% { opacity: 0% }
	100% { opacity: 0% }
}

@keyframes twentytwo {
	0% { opacity: 0% }
	20% { opacity: 0% }
	40% { opacity: 0% }
	60% { opacity: 100% }
	70% { opacity: 0% }
	100% { opacity: 0% }
}

@keyframes five {
	0% { opacity: 0% }
	20% { opacity: 0% }
	40% { opacity: 0% }
	60% { opacity: 0% }
	80% { opacity: 100% }
	90% { opacity: 0% }
}