@keyframes heaven {

	0% { background-color: white } 20% { background-color: #656048 }

	40% { background-color: #39372D } 60% { background-color: #1D1D20 }

	80% { background-color: #625C45 } 100% { background-color: white }

}

@keyframes plants {

	0% { bottom: 20 } 20% { bottom: -20	}

	40% { bottom: -60 } 60% { bottom: -115 }

	80% { bottom: -10 } 100% {	bottom: 20px }

}

@keyframes sun {

	0% { right: 10 } 40% { right: 750; opacity: 0% } 60% { right: 1500; opacity: 0% } 

	78% { opacity: 0% } 80% { right: -100; opacity: 20% }  100% { right: 10; }
}

@keyframes moon {

	0% { opacity: 0%; } 20% { opacity: 0% }

	40% { opacity: 0% } 60% { opacity: 100%; left: 80 } 

	80% { left: -30 } 85% { opacity: 20% } 100% { opacity: 0% }
}

@keyframes first-row-cloud {

	0% { left: 0 } 20% { left: -380 } 40% { left: -660 } 

	60% { left: -760; opacity: 0 }	80% { opacity: 0 } 100% { left: 0 }

}

@keyframes second-row-cloud {

	0% { left: 910 } 20% { left: 540 }

	40% { left: 240 } 60% { left: 650; opacity: 20% }

	80% { left: 910 } 100% { left: 910 }
}

@keyframes star {

	0% { opacity: 0 } 20% { opacity: 0 }

	40% { opacity: 0 } 60% { opacity: 100 }

	80% { opacity: 0 } 100% { opacity: 0 }

}