@media handheld body {
	width: 98%;
	font-family: Verdana;
	font-size: 16px;
} 

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img {
	max-width:100%;
}

.container-all {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
	transition: 0.2s linear;
	animation-name: heaven;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

.container-sun {
	width: 20%;
	height: 35%;
	top: 3%;
	right: 3%;
	border-radius: 100%;
	position: absolute;
	text-align: center;
	background: url(images/sun.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s linear;
	animation-name: sun;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

.container-moon {
	width: 15%;
	height: 35%;
	top: 3%;
	left: 10%;
	border-radius: 100%;
	position: absolute;
	text-align: center;
	background: url(images/moon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: 0.2s linear;
	animation-name: moon;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

.container-stars {
	position: absolute;
	width: 15%;
	height: 0%;
	top: 10%;
	left: 35%;
	display: flex;
	opacity: 0;
	transition: 0.2s linear;
	animation-name: star;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

.star {
	background: url(images/star.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	position: relative;
}

.star-first {
	top: 0;
	left: 0;
}

.star-second {
	top: 120px;
	left: 80px;
}

.star-third {
	top: 40px;
	left: 400px;
}

.star-fourth {
	top: 130px;
	left: 260px;
}

.star-fifth {
	top: 55px;
	left: 110px;
}

.container-clouds {
	width: 50%;
	height: 0%;
	top: 10%;
	left: 15%;
	position: absolute;
}

.row {
	position: absolute;
	display: flex;
	flex-direction: row;
}

.first-row {
	left: 0%;
	transition: 0.2s linear;
	animation-name: first-row-cloud;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

.second-row {
	left: 170%;
	transition: 0.2s linear;
	animation-name: second-row-cloud;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

.cloud {
	position: relative;
	width: 90px;
	height: 70px;
	margin: 0;
	background: url(images/cloud.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.cloud-first {
	top: 45px;
	left: 10px;
	transform: scaleX(-1);
}

.cloud-second {
	top: 105px;
	left: 90px;
}

.cloud-third {
	top: 0;
	left: 175px;
	transform: scaleX(-1);
}

.cloud-fourth {
	top: 80px;
	left: 270px;
}

.container-forest {
	width: 85%;
	height: 50%;
	position: absolute;
	bottom: 2%;
	background-image: url(images/forest.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.container-plants {
	width: 65%;
	height: 24%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 3%;
	transition: 0.2s linear;
	animation-name: plants;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

.plant {
	width: 15%;
	height: 100%;
}

.flower-first {
	background: url(images/flowerfirst.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.cactus {
	background: url(images/cactus.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.flower-second {
	background: url(images/flowersecond.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.plant-first {
	background: url(images/plant.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.flower-third {
	background: url(images/flowerthird.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.garden-plant {
	background: url(images/gardenplant.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.flower-fourth {
	background: url(images/flowerfourth.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.container-grass {
	width: 900px;
	height: 21px;
	background-color: #8FDC43;
	position: absolute;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	bottom: 0;
}

