@media handheld body {
	width: 98%;
	font-family: Verdana;
	font-size: 16px;
} 

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img {
	max-width:100%;
}

.container-all {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
	transition: 0.2s linear;
	animation-name: heaven;
	animation-duration: 120s;
	animation-iteration-count: infinite;
}

.container-sun {
	width: 200px;
	height: 200px;
	top: 10;
	right: 10;
	border-radius: 100%;
	position: absolute;
	text-align: center;
	background: url(images/sun.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: 0.2s linear;
	animation-name: sun;
	animation-duration: 120s;
	animation-iteration-count: infinite;
}

.container-moon {
	width: 160px;
	height: 200px;
	top: 10;
	left: 80;
	border-radius: 100%;
	position: absolute;
	text-align: center;
	background: url(images/moon.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: 0.2s linear;
	animation-name: moon;
	animation-duration: 120s;
	animation-iteration-count: infinite;
}

.container-stars {
	position: absolute;
	width: 560px;
	height: 200px;
	top: 45;
	left: 370;
	display: flex;
	opacity: 0;
	transition: 0.2s linear;
	animation-name: star;
	animation-duration: 120s;
	animation-iteration-count: infinite;
}

.star {
	background: url(images/star.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	position: relative;
}

.star-first {
	top: 0;
	left: 0;
}

.star-second {
	top: 120;
	left: 80;
}

.star-third {
	top: 40;
	left: 400;
}

.star-fourth {
	top: 130;
	left: 260;
}

.star-fifth {
	top: 55;
	left: 110;
}

.container-clouds {
	width: 560px;
	height: 80px;
	top: 45;
	left: 125;
	position: absolute;
}

.row {
	position: absolute;
	display: flex;
	flex-direction: row;
}

.first-row {
	left: 0;
	transition: 0.2s linear;
	animation-name: first-row-cloud;
	animation-duration: 120s;
	animation-iteration-count: infinite;
}

.second-row {
	left: 1000;
	transition: 0.2s linear;
	animation-name: second-row-cloud;
	animation-duration: 120s;
	animation-iteration-count: infinite;
}

.cloud {
	position: relative;
	width: 90px;
	height: 70px;
	margin: 0;
	background: url(images/cloud.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.cloud-first {
	top: 45;
	left: 10;
	transform: scaleX(-1);
}

.cloud-second {
	top: 105;
	left: 90;
}

.cloud-third {
	top: 0;
	left: 175;
	transform: scaleX(-1);
}

.cloud-fourth {
	top: 80;
	left: 270;
}

.container-forest {
	width: 950px;
	height: 350px;
	position: absolute;
	bottom: 10;
	background-image: url(images/forest.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.container-plants {
	width: 760px;
	height: 135px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 20;
	transition: 0.2s linear;
	animation-name: plants;
	animation-duration: 120s;
	animation-iteration-count: infinite;
}

.plant {
	width: 115px;
	height: 135px;
}

.flower-first {
	background: url(images/flowerfirst.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.cactus {
	background: url(images/cactus.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.flower-second {
	background: url(images/flowersecond.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.plant-first {
	background: url(images/plant.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.flower-third {
	background: url(images/flowerthird.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.garden-plant {
	background: url(images/gardenplant.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.flower-fourth {
	background: url(images/flowerfourth.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.container-grass {
	width: 900px;
	height: 21px;
	background-color: #8FDC43;
	position: absolute;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	bottom: 0;
}

